<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>982959604273-1dh7kna0rcd9gvk8286i685hm8e5258n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.982959604273-1dh7kna0rcd9gvk8286i685hm8e5258n</string>
	<key>API_KEY</key>
	<string>AIzaSyCuoL3dHH_hMTQbBMSfo8iuK9Dr0Qqvg-U</string>
	<key>GCM_SENDER_ID</key>
	<string>982959604273</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>t.xzuvyProject1111</string>
	<key>PROJECT_ID</key>
	<string>xzuvyproject</string>
	<key>STORAGE_BUCKET</key>
	<string>xzuvyproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:982959604273:ios:956f243b83ce9831cb4b10</string>
</dict>
</plist>